body {
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1 {
    padding-top: 240px;
    font-size: 100px;
    font-weight: lighter;
}

h4 {
    margin-top: -30px;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 500;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 450px) {

    h1 {
        font-size: 45px;
        padding-top: 160px;

    }

    h4 {
        margin-top: 25px;
        font-size: 18px;
    }

}
